* {
    margin: 0;
}

/* Header part */
.backimage {

    background-color: gray;
    background-image: url('../images/donation0.jpg');
    background-blend-mode: multiply;
    background-size: 1800px 850px;
    background-repeat: no-repeat;
    text-align: center;
}

.fcontent {
    padding: 150px 400px;
}

.fcontent .head-title {
    font-size: 50px;
    font-weight: 800;
    color: white;
}

.fcontent p {
    padding: 20px 0 50px 0;
    color: white;
    font-size: 30px;
}

.btn-primary {
    width: 200px;
    height: 65px;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    background-color: #c13455;
    border: 0;
    border-radius: 5px;
}

/* Main Part */
.text-primary {
    color: black;
    font-weight: 800;
    font-size: 40px;
    padding-bottom: 50px;
}

.desc-primary {
    color: rgba(32, 31, 31, 0.622);
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 80px;
}

.title-main {
    text-align: center;
    padding: 100px 300px;
}


.damount {
    display: flex;
    width:100%;
    height: 80pt;
    gap: 30px;
    padding-bottom: 60px;
}

.amount {
    padding: 35px 30px;
    font-size: 28px;
    font-weight: 600;
    margin:1px;
    width: 20%;
    border: 1px solid #c134555f;
    display:block;
    border-radius: 5px;
}

.damount .amount:hover{
    background-color: #c134555f;
    color: #c13455;
}

.btn-second{
    padding-top: 30px;
}

/* Donation part */
.allplan{
    display: flex;
    gap: 20px;
}
.plan{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
    text-align: left;
}
.allplan h4{
    padding: 25px 0 15px 0;
}
/* lives part */
.needs , .lives{
    display: flex;
    gap: 50px;
    text-align: left;
    padding: 100px 300px;
}

img{
    border-radius: 2%;
}
/* updates part */
.updates{
    text-align: center;
    padding: 100px 300px;
}
.form{
    display: flex;
    gap: 0;
    justify-content: center;
    background-color:bisque;
    padding: 130px 220px;
    border-radius: 10px;
}
.form .mail{
    border: 0;
    padding: 0 150px 0 10px;
    border-radius: 5px;
}
.footer{
    text-align: center;
    padding: 10px 400px 100px 400px;
    background-color: black;
}